body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quote-container {
    text-align: center;
}

.quote-box {
    border-radius: 3px;
    position: relative;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #ffffff;
}

.quote-text {
    font-size: 24px;
    font-style: italic;
}

.quote-author {
    font-size: 18px;
    margin-top: 10px;
}

.button {
    background-color: #54a7ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}
